<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../../public/reset.css" />
    <link rel="stylesheet" href="../../public/styles.css" />

    <title>Portal Nord-Dev</title>
  </head>
  <body>
    <%- include('partials/header.html') %>

    <section class="noticia">
      <div class="center">
        <div class="noticia-single">
          <h2><%= noticia.titulo %></h2>
          <div
            class="autor-nome"
            style="display: flex; align-items: center; gap: 10px"
          >
            <img
              style="width: 30px; border-radius: 50%"
              src="<%= noticia.avatar %>"
              alt=""
            />
            <span>Por <%= noticia.author %></span>
          </div>

          <img
            style="width: 100%; margin-top: 10px"
            src="<%= noticia.imagem %>"
            alt=""
          />
          <p><%- noticia.conteudo %></p>
        </div>
        <div class="mais-lidas">
          <h3>Mais Lidas</h3>
          <div class="mais-lidas-noticias">
            <% mostRead.forEach((post)=>{%>
            <div class="mais-lida-noticia-single">
              <img src="<%= post.imagem %>" />
              <div class="texto-mais-lida-single">
                <h4><%= post.titulo %></h4>
                <p>
                  <%= post.conteudo.substring(0, 60) %>... -
                  <span>[<%= post.views %>]views</span>
                </p>
                <a href="<%= post.slug %>">Saiba mais</a>
              </div>
            </div>
            <%}) %>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/footer.html') %>
  </body>
</html>
