html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: #161616;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
.header {
  width: 100%;
  background: #242424;
}

.header .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
}

.form-search {
  width: 170px;
  background: #de901b 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 10px 0 10px 15px;
  font-family: "Montserrat", sans-serif;
}

.form-search form {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  max-width: 100%;
}

.form-search i {
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
}

.form-search input {
  width: 100%;
  border: 0;
  outline: none;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  background-color: #de901b;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

/* Header */

/* Main */

.main-news {
  width: 1200px;
  max-width: 100%;
  margin: 80px auto;
}

.main-news .main-info a {
  text-decoration: none;
  color: white;
}

.main-news .img-main {
  width: 100%;
  position: relative;
}

.main-news .img-main .author {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 1.6rem;
  top: 55px;
  left: 55px;
  z-index: 10;
}

.main-news .img-main .author img {
  width: 3.5rem;
  max-width: 100%;
  border-radius: 50%;
}

.main-news .img-main .author p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.main-news .img-main img {
  width: 100%;
  border-radius: 10px;
}

.main-news .main-info {
  position: absolute;
  bottom: 80px;
  left: 50px;
  max-width: 800px;
  color: white;
  z-index: 2;
}

.main-news .main-info h2 {
  font-size: 7rem;
  margin-bottom: 20px;
}

.main-news .main-info p {
  font-weight: lighter;
  font-size: 1.9rem;
  max-width: 690px;
}

.main-news .overlay-destaque {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Main */

/* More News */

.more-news {
  background: #242424;
  padding: 30px 20px;
  text-align: center;
  color: white;
}

.more-news > h2 {
  font-size: 6.4rem;
  margin-bottom: 80px;
}

.more-news .container-news {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.more-news .latest-news {
  display: flex;
  flex-wrap: wrap;
  width: 1158px;
  max-width: 100%;
  gap: 1rem;
}

.more-news .container-latest-news {
  text-align: left;
  max-width: 574px;
  min-width: 400px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.more-news .container-latest-news img {
  width: 100%;
  height: 364px;
  object-fit: cover;
  border: 1px solid #de901b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container-latest-news h3 {
  font-size: 16px;
  color: #33439b;
  margin: 15px 0;
}

.container-latest-news h2 {
  color: #303336;
  font-size: 3rem !important;
  margin-bottom: 1.5rem;
}

.container-latest-news p {
  color: #7b8591;
  font-size: 16px;
}

.container-latest-news a {
  display: block;
  text-decoration: none;
  color: #de901b;
  text-align: start;
  margin: 2rem 0 2rem;
  font-size: 1.9rem;
}

.container-news .content-new {
  padding: 20px;
}

.most-read-news {
  min-height: 647px;
  width: 450px;
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
}

.most-read-news > h3 {
  background-color: #3f51b5;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.35px;
  padding: 25px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.new-single {
  text-align: start;
  padding: 10px;
  display: flex;
}

.new-single img {
  width: 160px;
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
  border: 1px solid #de901b;
}

.new-single .description {
  width:350px;
  padding: 8px 20px;
}

.description h4 {
  color: #40be65;
  letter-spacing: 3.2px;
}

.description p {
  color: #7b8591;
  font-size: 1.4rem;
}

.description .views {
  display: block;
  color: #40be65;
}

.description a {
  margin-top: 10px;
  display: block;
  width: 121px;
  height: 36px;
  border: 1px solid #de901b;
  text-decoration: none;
  border-radius: 10px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #de901b;
}

/* footer */

.footer {
  background-color: #de901b;
  text-align: center;
  color: white;
  padding: 50px 0;
}

.noticia {
  padding: 20px 0;
  background-color: #eaeaea;
}

.noticia-single {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 58%;
  margin-right: 2%;
}

.noticia-single h2 {
  color: #303336;
  font-size: 42px;
  margin: 10px 0;
}
.noticia-single span {
  letter-spacing: 3.2px;
  text-transform: uppercase;
  font-size: 13px;
  color: #858585;
  font-weight: bold;
}

.noticia-single p {
  color: #7b8591;
  font-size: 15px;
  line-height: 26px;
  margin-top: 15px;
}

.noticia-single h3 {
  color: #7b8591;
  font-size: 33px;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .noticia-single {
    width: 100%;
    margin-bottom: 20px;
  }

  .logo {
    text-align: center;
  }

  .logo,
  .form-busca {
    width: 100%;
  }

  .form-busca {
    text-align: center;
    margin-top: 10px;
  }

  .title-destaque-descricao h2 {
    font-size: 34px;
    margin: 20px 0;
  }

  .mais-lidas,
  .ultimas {
    width: 100%;
    margin-bottom: 20px;
  }

  .container-latest-news {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}



